@model WebBanLaptop.ViewModel.HomeViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="slideshow slideshow-wrapper pb-section sliderFull">
    <div class="home-slideshow">
        <div class="slide">
            <div class="blur-up lazyload bg-size">
                <img class="blur-up lazyload bg-img" data-src=@Url.Content("~/assets/client/images/slideshow-banners/banner2.png")
                     src=@Url.Content("~/assets/client/images/slideshow-banners/banner2.png") alt="LaptopShop" title="LaptopShop" />
                <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                    <div class="slideshow__text-content bottom">
                        <div class="wrap-caption center">
                            <h2 class="h1 mega-title slideshow__title">LaptopShop</h2>
                            <span class="mega-subtitle slideshow__subtitle">
                                Laptop Shop là chuỗi cửa hàng bán lẻ laptop hàng đầu tại Thành phố Hồ Chí Minh, Hà Nội, Đà Nẵng và Hải Phòng, với hệ thống nhiều chi nhánh chuyên cung cấp các loại laptop, phụ kiện, bảo hành và sửa chữa. Chúng tôi cung cấp đầy đủ các thương hiệu laptop phổ biến nhất, bao gồm máy tính xách tay, máy tính bảng, phụ kiện, cũng như các dịch vụ hỗ trợ và bảo dưỡng chuyên nghiệp...

                            </span>
                            <span class="btn">Shop now</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="blur-up lazyload bg-size">
                <img class="blur-up lazyload bg-img" data-src=@Url.Content("~/assets/client/images/slideshow-banners/banner.png")
                     src=@Url.Content("~/assets/client/images/slideshow-banners/banner.png") alt="LaptopShop" title="LaptopShop" />
                <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                    <div class="slideshow__text-content bottom">
                        <div class="wrap-caption center">
                            <h2 class="h1 mega-title slideshow__title">Laptop shop</h2>
                            <span class="mega-subtitle slideshow__subtitle">
                                Save up to 50% off this weekend
                                only
                            </span>
                            <span class="btn">Shop now</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-slider-product section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-header text-center">
                    <h2 class="h2">Sản phẩm phổ biến</h2>
                </div>
                <div class="tabs-listing">
                    <ul class="tabs clearfix">
                        @foreach (var item in Model.categoryList)
                        {
                            <li rel="@($"tab{@item.category_id}")">@item.category_name</li>
                        }
                    </ul>
                    <div class="tab_container">
                        @foreach (var item in Model.categoryList)
                        {
                            if (item != null && item.products.Count > 0)
                            {
                                <div id="@($"tab{item.category_id}")" class="tab_content grid-products">
                                    <div class="productSlider">
                                        @foreach (var product in item.products)
                                        {
                                            <div class="col-12 item">
                                                <!-- start product image -->
                                                <div class="product-image">
                                                    <!-- start product image -->
                                                    <a href="/Product/Detail/@product.product_id">
                                                        <!-- image -->
                                                        <img class="primary blur-up lazyload"
                                                             data-src=@Url.Content(product.product_image)
                                                             src=@Url.Content(product.product_image) alt="image"
                                                             title="@product.product_name">
                                                        <!-- End image -->
                                                        <!-- Hover image -->
                                                        <img class="hover blur-up lazyload"
                                                             data-src=@Url.Content(product.product_image)
                                                             src=@Url.Content(product.product_image) alt="image"
                                                             title="@product.product_name">
                                                        <!-- End hover image -->
                                                        <!-- product label -->
                                                        <div class="product-labels rectangular">
                                                            <span class="lbl pr-label1">new</span>
                                                        </div>
                                                        <!-- End product label -->
                                                    </a>
                                                    <!-- end product image -->
                                                    <!-- countdown start -->
                                                    <div class="saleTime desktop" data-countdown="2024/04/25"></div>
                                                    <!-- countdown end -->
                                                    <!-- Start product button -->
                                                    <form class="variants add" action="/Cart/Add" method="post">
                                                        <input type="hidden" name="pid"
                                                               value="@product.product_id">
                                                        <input type="hidden" name="price"
                                                               value="@product.price">
                                                        <button class="btn btn-addto-cart" type="submit">Thêm vào giỏ hàng</button>
                                                    </form>
                                                    <div class="button-set">
                                                        <a href="javascript:void(0)" title="Quick View"
                                                           class="quick-view-popup quick-view" data-toggle="modal"
                                                           data-target="#content_quickview">
                                                            <i class="icon anm anm-search-plus-r"></i>
                                                        </a>
                                                        <div class="wishlist-btn">
                                                            <a class="wishlist add-to-wishlist" href="javascript:void(0)">
                                                                <i class="icon anm anm-heart-l"></i>
                                                            </a>
                                                        </div>
                                                        <div class="compare-btn">
                                                            <a class="compare add-to-compare" href="javascript:void(0)"
                                                               title="Add to Compare">
                                                                <i class="icon anm anm-random-r"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <!-- end product button -->
                                                </div>
                                                <!-- end product image -->
                                                <!--start product details -->
                                                <div class="product-details text-center">
                                                    <!-- product name -->
                                                    <div class="product-name">
                                                        <a href="/Product/@product.product_id">
                                                            @product.product_name
                                                        </a>
                                                    </div>
                                                    <!-- End product name -->
                                                    <!-- product price -->
                                                    <div class="product-price">
                                                        <span class="price">
                                                            @($"{product.price:n0} VND")
                                                        </span>
                                                    </div>
                                                    <!-- End product price -->

                                                    <div class="product-review">
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star"></i>
                                                        <i class="font-13 fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <!-- End product details -->
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div id="@($"tab{item.category_id}")" class="tab_content grid-products">
                                    <div class="productSlider">
                                        <div class="col-12 item">
                                            <div class="product-details text-center">
                                                <div class="product-name">
                                                    <a href="#">Không có sản phẩm nào</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="store-feature section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="display-table store-info">
                    <li class="display-table-cell">
                        <i class="icon anm anm-truck-l"></i>
                        <h5>FREE SHIP &amp; HOÀN TRẢ</h5>
                        <span class="sub-text">Miễn phí vận chuyển dưới 5km</span>
                    </li>
                    <li class="display-table-cell">
                        <i class="icon anm anm-dollar-sign-r"></i>
                        <h5>CHẤT LƯỢNG ĐẢM BẢO</h5>
                        <span class="sub-text">30 ngày hoàn trả tiền</span>
                    </li>
                    <li class="display-table-cell">
                        <i class="icon anm anm-comments-l"></i>
                        <h5>CHĂM SÓC KHÁCH HÀNG</h5>
                        <span class="sub-text">Hỗ trợ khách hàng 24/7</span>
                    </li>
                    <li class="display-table-cell">
                        <i class="icon anm anm-credit-card-front-r"></i>
                        <h5>THANH TOÁN AN TOÀN</h5>
                        <span class="sub-text">Thanh toán nhiều hình thức khác nhau.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>