@model WebBanLaptop.Models.cart
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["order"] != null)
{
    <script>alert('Đặt hàng thành công');</script>
    Session["order"] = null;
}
<div class="page section-header text-center">
    <div class="page-title">
        <div class="wrapper">
            <h1 class="page-width">Giỏ hàng của bạn</h1>
        </div>
    </div>
</div>
<!--End Page Title-->

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 main-col">
            <form action="#" method="post" class="cart style2">
                <table>
                    <thead class="cart__row cart__header">
                        <tr>
                            <th colspan="2" class="text-center">Sản phẩm</th>
                            <th class="text-center">Giá</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-right">Thành tiền</th>
                            <th class="action">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.cart_items.Count < 1)
                        {
                            <tr><td colspan="6" class="text-center">Giỏ hàng trống</td></tr>
                        }
                        else
                        {
                            foreach (var item in Model.cart_items)
                            {
                                <tr class="cart__row border-bottom line1 cart-flex border-top">
                                    <td class="cart__image-wrapper cart-flex-item">
                                        <a href="/Product/@item.product_id">
                                            <img class="cart__image"
                                                 src=@Url.Content(item.product.product_image)
                                                 alt="Laptop">
                                        </a>
                                    </td>
                                    <td class="cart__meta small--text-left cart-flex-item">
                                        <div class="list-view-item__title text-truncate" style="max-width: 250px;" title="@item.product.product_name">
                                            <a href="/Product/@item.product_id">@item.product.product_name</a>
                                        </div>
                                    </td>
                                    <td class="cart__price-wrapper cart-flex-item">
                                        <span class="money">@($"{item.product.price:n0} VND")</span>
                                    </td>
                                    <td class="cart__update-wrapper cart-flex-item text-right">
                                        <div class="cart__qty text-center">
                                            <div class="qtyField" data-pid="@item.product_id">
                                                <a data-pid="@item.product.product_id" class="qtyBtn minus" href="javascript:void(0);">
                                                    <i class="icon icon-minus"></i>
                                                </a>
                                                <input class="cart__qty-input qty" type="text" min="1" readonly name="updates[]" id="qty"
                                                       value="@item.quantity" pattern="[0-9]*">
                                                <a data-pid="@item.product.product_id" class="qtyBtn plus" href="javascript:void(0);">
                                                    <i class="icon icon-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right small--hide cart-price">
                                        <div><span class="money">@($"{item.total_price:n0} VND")</span></div>
                                    </td>
                                    <td class="text-center small--hide">
                                        <a href="/Cart/Remove/@item.cart_item_id" class="btn btn--secondary cart__remove"
                                           title="Remove tem"><i class="icon icon anm anm-times-l"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-left">
                                <a href="/Product" class="btn--link cart-continue">
                                    <i class="icon icon-arrow-circle-left"></i> Tiếp tục mua sắm
                                </a>
                            </td>
                            <td colspan="3" class="text-right">
                                <a href="/Cart" name="update"
                                   class="btn--link cart-update"><i class="fa fa-refresh"></i> Làm mới</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <hr>
            </form>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
            <form action="/Cart/Checkout" method="post">
                <div class="cart-note">
                    <div class="solid-border">
                        <label for="">Họ và tên:</label>
                        <input type="text" name="fullname" id="fullname" class="form-control" required />
                        <label for="">Số điện thoại:</label>
                        <input type="text" name="phone" id="phone" class="form-control" required />
                        <label for="">Địa chỉ:</label>
                        <input type="text" name="address" id="address" class="form-control" required />
                    </div>
                </div>
                <div class="solid-border">
                    <div class="row">
                        <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Tổng cộng:</strong></span>
                        <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right">
                            <span class="money">
                                @($"{Model.total_price:n0} VND")
                            </span>
                        </span>
                    </div>
                    <div class="cart__shipping">Vui lòng chọn phương thức thanh toán</div>
                    @if (Model.cart_items.Count <= 0)
                    {
                        <input type="submit" name="checkout" id="cartCheckout" class="btn btn--small-wide checkout"
                               disabled
                               value="Checkout">
                    }
                    else
                    {
                        <input type="submit" name="checkout" id="cartCheckout" class="btn btn--small-wide checkout"
                               value="Checkout">
                    }

                    <div class="paymnet-img"><img src="~/assets/client/images/payment-img.jpg" alt="Payment"></div>
                </div>
            </form>
        </div>
    </div>
</div>
