@model IEnumerable<WebBanLaptop.Models.user>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .truncate {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body table-responsive">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th scope="col"> Mã người dùng </th>
                        <th> Email </th>
                        <th> Mật khẩu </th>
                        <th> Họ và tên </th>
                        <th> # </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td scope='row'>@item.user_id</td>
                            <td class='text-truncate' style='max-width: 250px;' title='@item.email'>@item.email</td>
                            <td>@item.password</td>
                            <td>@item.full_name</td>
                            <td>
                                @if ("active".Equals(item.status))
                                {
                                    <a href='/Admin/UserAdmin/Block/@item.user_id' class='btn btn-warning'>Block</a>
                                }
                                else if("block".Equals(item.status))
                                {
                                    <a href='/Admin/UserAdmin/unBlock/@item.user_id' class='btn btn-outline-danger'>Unblock</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


